<!DOCTYPE html>
<html>

<head>
	<title>Estadística Computacional</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>

<body>

	<div class="container">
		<div class="hero">
			<h1 class="name"><strong>David</strong> Martín Vela</h1>
			<span class="job-title">Estadística Computacional 20-21</span>
			<span class="email"> <a href = "mailto: davidmv1996@correo.ugr.es">davidmv1996@correo.ugr.es</a></span>

			<h2 class="lead">Primera entrega de ejercicios</h2>
		</div>
	</div>

	<div class="container">
		<h2 class="section-title">Ejemplos</h2>
		<p>

			Generación de 20 números de la normal 0, 1.
		</p>

		<!--begin.rcode
		  ## Esta línea es un comentario que no afecta al resultado final
		  x=rnorm(20)
	  end.rcode-->

		Si no quiere que aparezcan las órdenes que producen un resultado, basta con que use la metaorden
		<code>echo=FALSE</code>. En el siguiente bloque se presentan los valores anteriormente generados sin que
		aparezca la orden con la que se consigue.

		<!--begin.rcode	echo=FALSE
		  x
	  end.rcode-->

		<p>Este es el histograma de esos datos (centrado mediante la opción
			<code>fig.align='center'</code> y de tamaño 6x6 mediante las opciones
			<code>fig.width=6, fig.height=6</code>, unidad de medida son 72 puntos), y que se almacena con un nombre que
			comienza con <strong>figura1</strong>:
		</p>

		<!--begin.rcode fig.align='center', fig.width=6, fig.height=6, 'figura1'
		  ## @knitr histograma
		  hist(x)
	  end.rcode-->
	</div>

	<div class="container">
		<h2 class="section-title">Ejercicio 1</h2>
		<p>El libro <b>knitr</b> permite construir un archivo HTML que integra resultados de R. Evidentemente, el libro
			con todas sus dependencias debe estar en la biblioteca, en caso contrario debe usar la orden
			<b>install.packages("knitr", dependencies = TRUE)</b>. Una vez cargado con la orden <b>library(knitr)</b>,
			basta con crear un archivo con la extensión <code>Rhtml</code> que incluya un texto en formato
			<code>HTML</code> y
			además incluya unos comentarios especiales que serán ejecutados en R y cuyos resultados, mezclados con el
			texto original,
			constituirán un archivo con el mismo nombre que el archivo suministrado y con extensión <code>html</code>.
		</p>
		<p>
			Los comentarios especiales son de la forma
		<pre>
		&lt;!--begin.rcode [metaórdenes]
			Órdenes de R
		end.rcode-->
		</pre>
		dónde las metaórdenes afectan al tipo de salida de R.
		</p>
		<!--begin.rcode
		# a simple calculator
		1 + 1
		# boring random numbers
		set.seed(123)
		rnorm(5)
		end.rcode-->

	</div>

	<div class="container">
		<h2 class="section-title">Ejercicio 2</h2>
	</div>

	<br><br>


	<footer class="container">
		<span style="font-size: 16px; margin-top: 16px">Coded by <a href="https://newtodesign.com/">New to design </a>
			Designed by <a
				href="https://dribbble.com/shots/4342703-Minimal-resume-freebie-for-junior-self-taught-people">Nicolas
				Meuzard</a></span>
	</footer>


</body>

</html>